body{
  background-color:#F7FFF7;
}

/* STYLING FOR THE NAV BAR */
.bg-light {
    background-color: #3E537F!important;
}

.btn-outline-success {
    color: #F7FFF7;
    border-color: #F7FFF7;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.form-control{
    width:65%;
}

.btn{
    margin-left: .5em;
}

/* STYLING FOR THE NAV BAR */






.branches{
    margin-top:0%;

}


.branch-2{
    margin-top: 15%;
}

.branch-3{
    margin-top: 15%;
}

.title{
    font-size: 12pt;
}

.buddy{
    margin-top:50%;
}


.col{
  margin-top:30%;
    padding-left:0;
}
/* make search bar expand when screen is bigger */
/* this is for devices that are tablet size  */
/* OR  using sass @include media-breakpoint-up(md) { ... } */
@media (min-width: 768px){
    .col{
        padding-left:0;
    }
    .branch-2{
        margin-top: 15%;
    }

    .branch-3{
        margin-top: 15%;
    }
}
