body{
  background-color:#F7FFF7;
}

/* STYLING FOR THE NAV BAR */
.bg-light {
    background-color: #3E537F!important;
}

.btn-outline-success {
    color: #F7FFF7;
    border-color: #F7FFF7;
}

.navbar-light .navbar-toggler {
    color: #F7FFF7!important;
    border-color:#F7FFF7;
}

.form-control{
    width:65%;
}

.btn{
    margin-left: .5em;
}


/* STYLING FOR THE NAV BAR */
.branches{
    margin-top:50%;

}
.branch-1{
    margin-top: 20%;
}

.branch-2{
    margin-top: 5%;
}

.branch-3{
    margin-top: 5%;
}

.title{
    font-size: 12pt;
}

.buddy{
    margin-top:80%;
}

.col{
  margin-top:30%;
    padding-left:0;
}
/* make search bar expand when screen is bigger */
/* this is for devices that are tablet size  */
/* OR  using sass @include media-breakpoint-up(md) { ... } */
@media (min-width: 768px){
    .col{
        padding-left:0;
    }
}
