@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
 	background-color:#F7FFF7;
 	color: #3E537F;
}

h1, h2{
    color: #3eb8a5;
}

h3, h4{
    color: #3E537F;
}

/* STYLING FOR THE NAV BAR */
.bg-dark {
    background-color: #3E537F!important;
}

.btn-primary{
	background-color: #3eb8a5;
	border-color: #3eb8a5;
}

.btn-primary:hover{
	background-color: #c0e1c2;
	border-color: #c0e1c2;
}

.btn-outline-success {
    color: #3eb8a5;
    border-color: #3eb8a5;
}

.btn-outline-success:hover {
    color: white;
    background-color: #3eb8a5;
    border-color: #3eb8a5;
}

.navbar-dark .navbar-brand {
    color: #3eb8a5;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-dark {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #3eb8a5;
}