body{
 background-color: #D4F4EB;
}

.snail{
    max-width: 80px;
}

.dandy, .logo{
	max-width: 180px;
}

#page-login, #signup-form, #page-signup-1, #page-signup-2, #page-signup-3, #page-signup-4{
	display: none;
	position: relative;
}


.progress{
	height: 2px;
	background-color: white;
}

.progress-bar{
	width:10%;
}

.mobileWrap{
	max-width: 500px;
}

.bg-top{
	margin-top: 0px;
	margin: 0px;
	width: 100%;
}
.bg-bot{
	margin-bottom: 0px
}

/* STYLING FOR THE NAV BAR */
.bg-light {
    background-color: #3E537F!important;
}

.btn-outline-success {
    color: #F7FFF7;
    border-color: #F7FFF7;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.form-control{
    width:65%;
}

.btn{
    margin-left: .5em;
}